// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-100: #FEE3D5,
  color-primary-200: #FEC1AB,
  color-primary-300: #FC9881,
  color-primary-400: #FA7062,
  color-primary-500: #F8312F,
  color-primary-600: #D5222F,
  color-primary-700: #B21730,
  color-primary-800: #8F0E2E,
  color-primary-900: #77092D,
  color-success-100: #CBFED6,
  color-success-200: #98FDB9,
  color-success-300: #64FBA4,
  color-success-400: #3DF79F,
  color-success-500: #00F397,
  color-success-600: #00D096,
  color-success-700: #00AE8F,
  color-success-800: #008C81,
  color-success-900: #007274,
  color-info-100: #CBFEF8,
  color-info-200: #98FDF9,
  color-info-300: #64F6FB,
  color-info-400: #3EE4F8,
  color-info-500: #00C7F4,
  color-info-600: #009BD1,
  color-info-700: #0074AF,
  color-info-800: #00538D,
  color-info-900: #003C75,
  color-warning-100: #FEF9CC,
  color-warning-200: #FDF19A,
  color-warning-300: #FBE667,
  color-warning-400: #F8DA41,
  color-warning-500: #F4C804,
  color-warning-600: #D1A702,
  color-warning-700: #AF8902,
  color-warning-800: #8D6B01,
  color-warning-900: #755600,
  color-danger-100: #FEE8D2,
  color-danger-200: #FECBA6,
  color-danger-300: #FDA77A,
  color-danger-400: #FB8558,
  color-danger-500: #F94D22,
  color-danger-600: #D63018,
  color-danger-700: #B31911,
  color-danger-800: #900A0D,
  color-danger-900: #770611
  
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,

  color-primary-100: #FADAC9,
  color-primary-200: #F6AE95,
  color-primary-300: #E5755E,
  color-primary-400: #CB4235,
  color-primary-500: #A90303,
  color-primary-600: #91020E,
  color-primary-700: #790116,
  color-primary-800: #62001A,
  color-primary-900: #51001C,
  color-success-100: #D0F8CE,
  color-success-200: #A0F2A4,
  color-success-300: #6BD87B,
  color-success-400: #41B25D,
  color-success-500: #147F39,
  color-success-600: #0E6D38,
  color-success-700: #0A5B36,
  color-success-800: #064931,
  color-success-900: #033C2E,
  color-info-100: #D1DDFB,
  color-info-200: #A4BAF8,
  color-info-300: #7391EC,
  color-info-400: #4E6DD9,
  color-info-500: #1D3EC1,
  color-info-600: #152FA5,
  color-info-700: #0E228A,
  color-info-800: #09176F,
  color-info-900: #050F5C,
  color-warning-100: #FDF3CB,
  color-warning-200: #FBE398,
  color-warning-300: #F5CC63,
  color-warning-400: #ECB43C,
  color-warning-500: #E09202,
  color-warning-600: #C07601,
  color-warning-700: #A15D01,
  color-warning-800: #814600,
  color-warning-900: #6B3600,
  color-danger-100: #F9DECF,
  color-danger-200: #F4B7A1,
  color-danger-300: #DE816D,
  color-danger-400: #BE5045,
  color-danger-500: #931717,
  color-danger-600: #7E101A,
  color-danger-700: #690B1B,
  color-danger-800: #55071B,
  color-danger-900: #46041B,

  color-basic-100: white,
  color-basic-200: #eeeeee,
  color-basic-300: #d4d4d4,
  color-basic-400: #d3d3d3,
  color-basic-500: #c4c4c4,
  color-basic-600: #bbbbbb,
  color-basic-700: #B3B3B3,
  color-basic-800: #212121,
  color-basic-900: #181818,
  color-basic-1000: #141414,
  color-basic-1100: #101010,

  background-basic-color-1: color-basic-800, // <- notice how we start
  background-basic-color-2: color-basic-900, // with the end part
  background-basic-color-3: color-basic-1000,// of the basic shades
  background-basic-color-4: color-basic-1100,

  border-basic-color-1: color-basic-800,
  border-basic-color-2: color-basic-900,
  border-basic-color-3: color-basic-1000,
  border-basic-color-4: color-basic-1100,
  border-basic-color-5: color-basic-1100,
), dark, dark);
