<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-arrow"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>CrypTomat🍅</span></a>
  </div>
</div>
<div class="header-container">
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="basic" shape="round" filled>
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>