@import '../../../@theme/styles/themes';

@include nb-install-component() {
  button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }

  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }

  .nb-column-name {
    width: 100%;
  }

  ::ng-deep .row-toggle-button {
    color: nb-theme(text-basic-color);
  }

  .nb-tree-grid-header-cell,
  .nb-tree-grid-header-cell button {
    text-transform: capitalize;
  }

  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }

  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }

  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

.block {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.result-text {
  margin-top: 1rem;
}

.result {
  font-weight: bold;
}

.table_container {
  max-height: 350px;
  overflow: auto;
  justify-content: center; 
  margin: 0;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: gray black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(106, 105, 105);
  border-radius: 15px;
  border: 1px solid black;
}
